* {
  margin: 0;
  padding: 0;
}

.menuclass {
  background: #000;
  color: aqua;
}

.menuclass ul {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menuclass ul li {
  list-style: none;
  text-transform: uppercase;
  color: beige;
  text-decoration: none;
}

.menuclass ul li a {
  color: beige;
}
